<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Etab - Ajouter un Utilisateurs</title>
    <link rel="stylesheet" href="{% static 'student/style/four.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{% static 'student/images/logo.png'%}" alt="Logo de Mon Etab"> 
                 
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'dashboard:index' %}">Tableau de bord</a></li>
                    <li><a href="{% url 'student:index' %}"><span>Élèves</span></a></li>
                    <li><a href="{% url 'teacher:index' %}">Professeurs</a></li>
                    <li><a href="{% url 'user:index' %}">Utilisateurs</a></li>
                    <li><a href="{% url 'dashboard:index' %}">Rapport</a></li><br><br><br><br><br>
                    <li><a href="{% url 'user:login' %}">Déconnexion</a></li>
                    
                </ul>
            </nav>
        </aside>

        <main class="content">
            <h1>Ajouter un utilisateur</h1>
            <div class="main">
                <a href="javascript:history.back()" class="back-button">&#8592; Retour</a>

                <div class="block-one">
                    <input type="text" placeholder="Pseudo">
                    <input type="text" placeholder="Mot de passe">
                    <input type="text" placeholder="Confirmer Mot de passe">
                    <button id="red">Annuler</button>
            <button id="green">Enregistrer</button>
                </div>
                <div class="block-two">
            </div>
            
            
        </main>
    </div>
</body>
</html>