<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Etab - Ajouter un professeur</title>
    <link rel="stylesheet" href="{% static 'eleve/style/four.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{% static 'eleve/images/logo.png' %}" alt="Logo de Mon Etab"> 
                 
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'dashboard' %}">Tableau de bord</a></li>
                    <li><a href="{% url 'eleve' %}"><span>Élèves</span></a></li>
                    <li><a href="{% url 'professeur' %}">Professeurs</a></li>
                    <li><a href="{% url 'utilisateur' %}">Utilisateurs</a></li>
                    <li><a href="{% url 'rapport' %}">Rapport</a></li><br><br><br><br><br>
                    <li><a href="{% url 'login' %}">Déconnexion</a></li>
                    
                </ul>
            </nav>
        </aside>

        <main class="content">
            <h1>Ajouter un professeur</h1>
            <a href="javascript:history.back()" class="back-button">&#8592; Retour</a>
            <div class="main">
                <div class="block-one">
                    <input type="text" placeholder="Nom">
                    <input type="text" placeholder="Prénom">

                    
                            <input type="radio" name="ok">
                            <label>Homme</label>
                       
                            <input type="radio" name="ok">
                            <label>Femme</label>
                    

                    <input type="date">
                </div>
                <div class="block-two">
                    <select id="matiere" name="matiere">
                        <option value="default">Selectionner une matière:</option>
                        <option value="Math">Math</option>
                        <option value="Physique">Physique</option>
                        <option value="Svt">Svt</option>  
                        <option value="Anglais">Anglais</option>
                        <option value="Philosophie">Philosophie</option>
                        <option value="Eps">Eps</option>
                        <option value="Français">Français</option>
                    </select>
                    <input type="text" placeholder="Téléphone">
                    <input type="text" placeholder="Ville">
                </div>
            </div>
            <button id="red">Annuler</button>
            <button id="green">Enregistrer</button>
            
        </main>
    </div>
</body>
</html>